<div class="container text-center">
    <div class="card text-center">
        <div class="card-header">
            <h3><strong>Productos</strong></h3>
            <button (click)="add()" class="btn btn-info">Nuevo</button>
        </div>
        <div class="card-body">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                      
                     
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tempProduct of products">
                        <td class="align-middle" >
                            <a routerLink = "/products/{{tempProduct.id}}">
                            <img src="{{tempProduct.image}}" height="50"/></a>
                        </td>
                        <td class="align-middle">{{tempProduct.id}}</td>
                        <td class="align-middle">{{tempProduct.name}}</td>
                        <td class="align-middle">{{tempProduct.description}}</td>
                       
                        <td>
                            <button  class="btn btn-warning"><a routerLink="/edit/{{ tempProduct.id }}">Editar</a></button>
                            <button (click)="deleteProduct()" class="btn btn-danger">Eliminar</button>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


