<nav  class="celiaNav navbar navbar-expand-lg bg-light">
    <div class="celiaNav container-fluid">
      <a class="celiaNav navbar-brand" href="#">La Celia</a>
  
      <div class="celiaNav collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="celiaNav navbar-nav me-auto mb-2 mb-lg-0 align-middle">
          <li class="celiaNav nav-item align-middle">
            <button (click)="admin()" class="btn btn-info"> Admin</button>
          </li>
          <li class="celiaNav nav-item align-middle">
            <button (click)="user()" class="btn btn-info"> Usuario</button>
          </li>

        </ul>
        <form class= "celiaNav d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
