<!-- <div class="container col md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Productos</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Descripcion</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Imdescriptionn</label>
                    <input type="text" class="form-control">
                </div>
                <button class="btn btn-danger">Guardar</button>
            </form>
        
        </div>
    </div>
</div> -->

<form #loginForm="ngForm" (ngSubmit)="submitData(loginForm.value)">
    <div class="main">
      <div class="input-fields">
        <input name="name" ngModel placeholder="Name" id="name" type="text" class="form-control" />
      </div>
      <div class="input-fields">
        <input name="description" ngModel placeholder="description" id="description" type="text" class="form-control" />
      </div>
      <div class="input-fields">
        <input name="image" ngModel placeholder="image" id="image" type="text" class="form-control" />
      </div>
      <button>Add Data </button>
    </div>
  </form>