.example-card {
    max-width: fit-content;
    max-height: fit-content;
    padding: 10%;
    margin-bottom: 10%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }