body{
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:50% 50%;
    background-image:url('../assets/images/home/calendarioganadero.jpg');
    background-color: rgba(56, 79, 42, 1);
    
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(56, 79, 42, 1);
}
#author, #slogan{
    font-family: 'Island Moments', cursive;
    font-size: xx-large;
    color: pink;
    
}
